    <!-- bdleft -->
    <div id="bdleft">
        <ul>
            <li class="item">
                <div class="menu"><i class="icon-folder-open"></i>内容管理<b><i class='icon-angle-right'></i></b></div>
                <div class="info">
                    <!-- <a href="{:U('Onepage/index')}"><div class="sonmenu"><i class="icon-caret-right"></i> 单页面管理</div></a> -->
                    [volist name="model_menu" id="vo"]
                    <a href="{:U('Document/index',array('mid'=>$vo['id']))}"><div class="sonmenu"><i class="icon-caret-right"></i> {$vo.title}管理</div></a>
                    [/volist]
                    <a href="{:U('Block/index')}"><div class="sonmenu"><i class="icon-caret-right"></i> 碎片管理</div></a>
                    <a href="{:U('Block/file')}"><div class="sonmenu"><i class="icon-caret-right"></i> 附件管理</div></a>
                </div>
            </li>
        </ul>
    </div><!-- /bdleft -->