    <!-- bdleft -->
    <div id="bdleft">
        <ul>
            <li class="item">
                <div class="menu"><i class="icon-users"></i>会员管理<b><i class='icon-angle-right'></i></b></div>
                <div class="info">
                    <a href="{:U('Member/index')}"><div class="sonmenu"><i class="icon-caret-right"></i> 会员列表</div></a>
                </div>
            </li>
            <li class="item">
                <div class="menu"><i class="icon-rmb"></i>日志<b><i class='icon-angle-right'></i></b></div>
                <div class="info">
                    <a href="{:U('Log/score_log')}"><div class="sonmenu"><i class="icon-caret-right"></i> 日志列表</div></a>
                </div>
            </li>
        </ul>
    </div><!-- /bdleft -->