    <!-- bdleft -->
    <div id="bdleft">
        <ul>
            <li class="item">
                <div class="menu"><i class="icon-cart-plus"></i>订单管理<b><i class='icon-angle-right'></i></b></div>
                <div class="info">
                    <a href="{:U('Order/index')}"><div class="sonmenu"><i class="icon-caret-right"></i> 最新订单</div></a>
                    <a href="{:U('Order/old')}"><div class="sonmenu"><i class="icon-caret-right"></i> 已发货订单</div></a>
                </div>
            </li>
        </ul>
    </div><!-- /bdleft -->