[include file="Inc/header" /]
<style type="text/css">
body{background-color: #f6f6f6;}
</style>
    <!-- bdleft -->
    <!-- bdright -->
    <div id="sysinfo">
        <table class="table table-border table-bordered table-bg radius table-hover">
            <thead>
                    <tr><th width="20%">信息名称</th><th>描述</th></tr>
            </thead>
            <tbody>
                <tr>
                    <th>快捷菜单</th>
                    <td>
                        <a class="btn btn-default radius" target="_blank" href="__ROOT__/">前台首页</a>
                        <a class="btn btn-default radius" href="{:U('Document/index',array('mid'=>2))}">商品管理</a>
                        <a class="btn btn-default radius" href="{:U('Order/index')}">订单管理</a>
                        <a class="btn btn-default radius" href="{:U('category/index')}">分类管理</a>
                        <a class="btn btn-default radius" href="{:U('Member/index')}">会员管理</a>
                    </td>
                </tr>
                <tr><th>未处理订单</th><td><a class="btn btn-default radius" href="{:U('Order/index')}">未处理订单 <span class="red">{$ordernum}</span></a></td></tr>
                <tr><th>文章数</th><td>{$articlenum}</td></tr>
                <tr><th>产品数</th><td>{$productnum}</td></tr>
                <tr><th>版本信息</th><td><a target="_blank" href="{:C('COPYRIGHT_URL')}">{:C('COPYRIGHT')} <sup>3.2.3</sup></a></td></tr>
                <tr><th>技术支持</th><td><i class="icon-qq"></i> {:C('COPYRIGHT_QQ')}</td></tr>
            </tbody>
        </table>
    </div>
    <div id="copyright">©2013-2015 {:C('COPYRIGHT')}版权所有</div>
[include file="Inc/footer" /]