[include file="Inc/header" /]
[include file="Left/member" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a href="{:U('Trade/index')}"><i class="icon-th-large"></i> 积分操作</a></div>
        <div class="content">
            <form id="form1" action="#" method="post" accept-charset="utf-8">
            <div id="tab_form" class="HuiTab">
                <div class="tabBar cl"><span>基础</span></div>
                <!-- 基础 -->
                <div class="tabCon">
                    <table class="table table-border table-bordered table-hover radius">
                        <tr>
                            <th width="150px">用户：</th>
                            <td>{$mbinfo.name}({$mbinfo.phone})</td>
                            <input name="mbid" type="hidden" value="{$mbinfo.id}">
                        </tr>
                        <tr>
                            <th>积分操作：</th>
                            <td>{:form_select("mark",0,"增加积分:1,减少积分:-1","积分操作",1)}<span class="notic"></span></td>
                        </tr>
                        <tr>
                            <th>积分值：</th>
                            <td><input type="text" name="score" class="input-text radius le4"><span class="notic"></span></td>
                        </tr>
                        <tr>
                            <th>说明：</th>
                            <td><input type="text" name="note" class="input-text radius le4"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="submit_btn"><input class="btn btn-primary le1 radius" type="submit" value="提交"></div>
            </form>
        </div>
    </div>
[include file="Inc/footer" /]