[include file="Inc/header" /]
[include file="Left/order" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a href="{:U('Order/index')}" class="active"><i class="icon-th-large"></i> 最新订单</a></div>
        <div class="content">
            <div class="search">
                <i class="icon-search"></i>
                <form action="{:U('Order/search')}" method="post" accept-charset="utf-8">
                <input type="text" placeholder=" 输入订单号搜索" name="keyword" class="input-text radius le4">
                <input class="btn btn-primary le1 radius" type="submit" value="搜索">
                </form>
            </div>
            <table class="table table-border table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>订单号</th>
                        <th>姓名</th>
                        <th>手机</th>
                        <th>兑换商品</th>
                        <th>邮寄地址</th>
                        <th>兑换时间</th>
                        <!-- <th>快递</th>
                        <th>快递单号</th> -->
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    [volist name="data" id="vo"]
                    <tr>
                        <th>{$vo.ord_num}</th>
                        <td><a title="点击查看用户信息" href="{:U('Member/info',array('id'=>$vo['mbid']))}">{$vo.mbid|r_mb_name}</a></td>
                        <td>{$vo.mbid|r_mb_phone}</td>
                        <td>
                            <a title="点击查看该商品详细" href="__ROOT__/index.php/Index/msg/id/{$vo.ptid}" target="_blank">{$vo.ptid|r_pt_title|cutstr=20}</a><span class="red">　×{$vo.num}</span>
                        </td>
                        <td>{$vo.mbid|r_mb_address}</td>
                        <td>{$vo.order_date|date="y.m.d",###}</td>
                        <td>
                            <a href="{:U('Order/mod',array('id'=>$vo['id']))}" class="btn btn-success radius size-S">发货</a>
                            <a onclick="confirm('{:U('Order/back',array('id'=>$vo['id']))}','确定要退单吗？退单后，对应的积分将返还给用户。')" class="btn btn-danger radius size-S" value="退单">退单</a>
                        </td>
                    </tr>
                    [/volist]
                    <tr>
                        <td colspan="20" class="text-r">
                            <form action="{:U('Order/export')}" accept-charset="utf-8" method="get">
                                <input type="submit" class="btn btn-danger radius size-S" value="导出表格">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
[include file="Inc/footer" /]