[include file="Mob/header" /]
[include file="Mob/naver" /]
<div style="clear:both;height:20px;"></div>
<div class="am-container">
    <div class="am-panel am-panel-default">
        <div class="am-panel-hd">会员信息</div>
        <div class="am-panel-bd">
            <div>新注册会员：<span style="color: green;font-weight: bold;"> {$member_new_num} </span>个，一共<span style="color: #00a0e9;font-weight: bold;"> {$member_num} </span>个会员</div>
            <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
            <div style="text-align: center;">
                <a class="am-btn am-btn-primary am-radius" href="{:U('Mob/member')}">会员管理</a>　　
                <a class="am-btn am-btn-success am-radius" href="{:U('Mob/member_add')}">添加会员</a>
            </div>
        </div>
    </div>

    <section class="am-panel am-panel-default">
        <header class="am-panel-hd">
            <h3 class="am-panel-title">订单信息</h3>
        </header>
        <div class="am-panel-bd">
            <div>未处理订单：<span style="color: red;font-weight: bold;"> {$order_new_num} </span>个</div>
            <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
            <div style="text-align: center;">
                <a class="am-btn am-btn-secondary am-radius" href="{:U('Mob/order')}">订单管理</a>　　
                <a class="am-btn am-btn-warning am-radius" href="{:U('Mob/order',array('status'=>2))}">最新订单</a>
            </div>
        </div>
    </section>
</div>
[include file="Mob/footer" /]