[include file="Mob/header" /]
[include file="Mob/naver" /]
<div style="clear:both;height:10px;"></div>
<div class="am-container">

    <div class="am-g">
        <div class="am-u-lg-6">
            <form action="{:U('Mob/member_search')}" method="post" accept-charset="utf-8">
                <div class="am-input-group">
                        <input type="text" name="keyword" class="am-form-field" placeholder="输入用户名或姓名">
                        <span class="am-input-group-btn">
                            <button class="am-btn am-btn-default" type="submit">查找会员</button>
                        </span>
                </div>
            </form>
        </div>
    </div>
    <div style="clear:both;height:10px;"></div>
    <div class="am-scrollable-horizontal">
        <table class="am-table am-table-bordered am-table-striped am-text-nowrap am-table-compact">
            <thead>
            <tr>
                <td>用户名</td>
                <td>姓名</td>
                <td>积分</td>
                <td>启</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            [volist name="data" id="vo"]
            <tr>
                <td>{$vo.username}</td>
                <td>{$vo.name}</td>
                <td>{$vo.score}</td>
                <td class="text-c">
                    [eq name="vo.status" value="1"]
                    <a onclick="ajaxjump('{:U('Mob/member_status',array('id'=>$vo['id'],'s'=>0))}')" href="javascript:;"><img src="__IMG__/ico_green.png" title="点击禁用"></a>
                    [else/]
                    <a onclick="ajaxjump('{:U('Mob/member_status',array('id'=>$vo['id'],'s'=>1))}')" href="javascript:;"><img src="__IMG__/ico_red.png" title="点击启用"></a>
                    [/eq]
                </td>
                <td>
                    <a href="{:U('Mob/member_info',array('id'=>$vo['id']))}">详细</a>
                </td>
            </tr>
            [/volist]
            </tbody>
        </table>
    </div>
    <div class="paging">{$paging}</div>
</div>
[include file="Mob/footer" /]