[include file="Mob/header" /]
[include file="Mob/naver" /]
<div style="clear:both;height:10px;"></div>
<div class="am-container">
    <form id="form1" action="#" method="post" accept-charset="utf-8">
        <table class="am-table am-table-bordered am-table-striped am-table-compact">
            <tr>
                <th colspan="6" style="text-align: center;">
                    订单号：{$data.ord_num}信息
                </th>
            </tr>
            <tr>
                <th width="80px">状态</th>
                <td>
                    [switch name="data.status"]
                    [case value="1"]<span style="color:#999;">已发货</span>[/case]
                    [default/]
                    <span style="color:red;">未发货</span>
                    [/switch]
                </td>
            </tr>
            <tr>
                <th width="80px">姓名</th>
                <td>
                    {$data.mbid|r_mb_name}
                </td>
            </tr>
            <tr>
                <th>手机</th>
                <td>{$data.mbid|r_mb_phone}</td>
            </tr>
            <tr>
                <th>兑换商品</th>
                <td> <a title="点击查看该商品详细" href="__ROOT__/index.php/Index/msg/id/{$vo.ptid}" target="_blank">{$data.ptid|r_pt_title|cutstr=20}</a><span class="red">　×{$data.num}</span></td>
            </tr>
            <tr>
                <th>邮寄地址</th>
                <td>{$data.mbid|r_mb_address}</td>
            </tr>
            <tr>
                <th>兑换时间</th>
                <td>{$data.order_date|date="Y-m-d h:i:sa",###}</td>
            </tr>
            [eq name='data.status' value='1']
            <tr>
                <th>快递</th>
                <td>{$data.kuaidi}</td>
            </tr>
            <tr>
                <th>快递单号</th>
                <td>{$data.kuaidi_num}</td>
            </tr>
            [/eq]
            [eq name='data.status' value='0']
            <tr>
                <th width="120px">快递名称</th>
                <td><input type="text" name="kuaidi" class="input-text radius le4" value="{$data.kuaidi}"><span class="notic"></span></td>
            </tr>
            <tr>
                <th width="120px">快递单号</th>
                <td><input type="text" name="kuaidi_num" class="input-text radius le4" value="{$data.kuaidi_num}"></td>
            </tr>
            <tr>
                <td colspan="6" class="am-text-center">
                    <input type="hidden" name="id" value="{$data.id}">
                    <button type="submit" class="am-btn am-btn-primary">　发货　</button>　　<a onclick="confirm('{:U('Mob/order_back',array('id'=>$data['id']))}','确定要退单吗？退单后，对应的积分将返还给用户。')" class="am-btn am-btn-danger" value="退单">退单</a>　
                </td>
            </tr>
            [/eq]
            <tr>
                <td colspan="6"  class="am-text-center">
                    <a class="am-btn am-btn-warning" onclick="javascript :history.back(-1);">　返回　</a>
                </td>
            </tr>
        </table>
    </form>
</div>
[include file="Mob/footer" /]