[include file="Inc/header" /]
[include file="Left/model" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a href="{:U('Model/index')}" class="active"><i class="icon-th-large"></i> 模型列表</a><a href="{:U('Model/add')}"><i class="icon-plus"></i> 添加模型</a></div>
        <div class="content">
            <table class="table table-border table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-c" width="20px">ID</th>
                        <th width="150px">名称</th>
                        <th width="200px">标识</th>
                        <th class="text-c" width="40px">状态</th>
                        <th class="text-c" width="80px">字段管理</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    [volist name="data" id="vo"]
                    <tr>
                        <th class="text-c">{$vo.id}</th>
                        <th>{$vo.title}</th>
                        <td>{$vo.mark}</td>
                        <td class="text-c" >
                            [eq name="vo.status" value="1"]
                            <a onclick="ajaxjump('{:U('Model/isno_status',array('id'=>$vo['id'],'s'=>0))}')" href="javascript:;"><img src="__IMG__/ico_green.png" title="点击禁用"></a>
                            [else/]
                            <a onclick="ajaxjump('{:U('Model/isno_status',array('id'=>$vo['id'],'s'=>1))}')" href="javascript:;"><img src="__IMG__/ico_red.png" title="点击启用"></a>
                            [/eq]
                        </td>
                        <td class="text-c" ><a href="{:U('Field/index',array('mid'=>$vo['id']))}" class="btn btn-secondary radius size-S" type="button">字段</a></td>
                        <td>
                            <a href="{:U('Model/mod',array('id'=>$vo['id']))}" class="btn btn-success radius size-S" type="button">修改</a>　
                            [neq name="vo.id" value='1']<input onclick="confirm('{:U('Model/del',array('id'=>$vo['id']))}','确定要删除吗？')" class="btn btn-danger radius size-S" type="button" value="删除">　[/neq]
                        </td>
                    </tr>
                    [/volist]
                </tbody>
            </table>
        </div>
    </div>
[include file="Inc/footer" /]