[include file="Inc/header" /]
[include file="Left/model" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a href="{:U('Model/index')}"><i class="icon-th-large"></i> 模型列表</a><a href="{:U('Field/index',array('mid'=>$mid))}"><i class="icon-bars"></i> [{:r_model_name($mid)}]字段列表</a><a href="{:U('Field/add',array('mid'=>$mid))}"  class="active"><i class="icon-plus"></i> 添加[{:r_model_name($mid)}]字段</a></div>
        <div class="content">
            <form id="form1" action="#" method="post" accept-charset="utf-8">
            <div id="tab_form" class="HuiTab">
                <div class="tabBar cl"><span>{:r_model_name($mid)}模型</span></div>
                <!-- 基础 -->
                <div class="tabCon">
                    <table class="table table-border table-bordered table-hover radius">
                        <tr>
                            <th width="100px">所属模型</th>
                            <td>{:r_model_name($mid)}</td>
                        </tr>
                        <tr>
                            <th width="100px">名称</th>
                            <td><input type="text" name="title" class="input-text radius le4" datatype="*2-30" nullmsg="字段标题不能为空" errormsg="字数超过30"><span class="notic">（30个字以内）</span></td>
                        </tr>
                        <tr>
                            <th>标识</th>
                            <td><input type="text" name="name" class="input-text radius le4" datatype="/^\w{2,12}$/" nullmsg="字段名称不能为空" errormsg="字段名称输入格式不正确"><span class="notic">（2-12个字字母、数字、下划线，填写后不能修改，分类标识使用cid）</span></td>
                        </tr>
                        <tr>
                            <th>类型</th>
                            <td>
                                <select name="type" datatype="*" nullmsg="字段类型必须选择" id="data-type">
                                    <option value="" selected>----请选择----</option>
                                    <option value="1" rule="int(10) UNSIGNED NOT NULL">数字</option>
                                    <option value="2" rule="varchar(255) NOT NULL">字符串</option>
                                    <option value="3" rule="text NOT NULL">文本区域</option>
                                    <option value="4" rule="char(10) NOT NULL">下拉框选择</option>
                                    <option value="5" rule="text NOT NULL">富文本编辑器</option>
                                    <option value="6" rule="int(10) UNSIGNED NOT NULL">单文件上传</option>
                                    <option value="7" rule="varchar(255) NOT NULL">多文件上传</option>
                                    <option value="8" rule="int(10) UNSIGNED NOT NULL">选择分类</option>
                                    <option value="9" rule="varchar(50) NOT NULL">日期时间</option>
                                    <option value="10" rule="char(10) NOT NULL">单选按钮</option>
                                    <option value="11" rule="text NOT NULL">简单编辑器</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>字段定义</th>
                            <td><input type="text" name="sql" class="input-text radius le4" id="data-field" value=""><span class="notic">（字段属性的sql表示）</span></td>
                        </tr>
                        <tr>
                            <th>默认值</th>
                            <td><input type="text" name="value" class="input-text radius le4" id="data-field" value=""><span class="notic"></span></td>
                        </tr>
                        <tr>
                            <th>参数</th>
                            <td><input type="text" name="att" class="input-text radius le4" id="data-field" value=""><span class="notic">（多选字段类型的定义数据和文本区域，编辑器的尺寸）</span></td>
                        </tr>
                        <tr>
                            <th>验证规则</th>
                            <td><input type="text" name="regular" class="input-text radius le4" id="data-field" value=""><span class="notic">（填写正则）</span></td>
                        </tr>
                        <tr>
                            <th>备注</th>
                            <td><input type="text" name="note" class="input-text radius le4" id="data-field" value=""><span class="notic">（用于表单中的提示）</span></td>
                        </tr>
                        <tr>
                            <th>是否必填</th>
                            <td>
                                <select name="is_must">
                                    <option value="0" selected>否</option>
                                    <option value="1">是</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="submit_btn">
                <input type="hidden" name="mid" value="{$mid}">
                <input class="btn btn-primary le1 radius" type="submit" value="提交">
            </div>
            </form>
        </div>
    </div>
<script type="text/javascript">
$(function(){
    $('#data-type').change(function(){
        $('#data-field').val($(this).find('option:selected').attr('rule'));
    });
})
</script>
[include file="Inc/footer" /]