[include file="Inc/header" /]
[include file="Left/model" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a href="{:U('Model/index')}"><i class="icon-th-large"></i> 模型列表</a><a href="{:U('Field/index',array('mid'=>$mid))}"><i class="icon-bars"></i> [{:r_model_name($mid)}]字段列表</a><a href="{:U('Field/add',array('mid'=>$mid))}"  class="active"><i class="icon-plus"></i> 添加[{:r_model_name($mid)}]字段</a></div>
        <div class="content">
            <form id="form1" action="#" method="post" accept-charset="utf-8">
            <div id="tab_form" class="HuiTab">
                <div class="tabBar cl"><span>{:r_model_name($mid)}模型</span></div>
                <!-- 基础 -->
                <div class="tabCon">
                    <table class="table table-border table-bordered table-hover radius">
                        <tr>
                            <th width="100px">所属模型</th>
                            <td>{:r_model_name($mid)}</td>
                        </tr>
                        <tr>
                            <th width="100px">名称</th>
                            <td><input type="text" name="title" class="input-text radius le4" datatype="*2-30" nullmsg="字段标题不能为空" errormsg="字数超过30" value="{$data.title}"><span class="notic">（30个字以内）</span></td>
                        </tr>
                        <tr>
                            <th>标识</th>
                            <td><strong>{$data.name}</strong></td>
                        </tr>
                        <tr>
                            <th>类型</th>
                            <td>
                            [switch name="data.type"]
                                [case value="1"]数字[/case]
                                [case value="2"]字符串[/case]
                                [case value="3"]文本区域[/case]
                                [case value="4"]下拉框选择[/case]
                                [case value="5"]编辑器[/case]
                                [case value="6" ]单文件上传[/case]
                                [case value="7"]多文件上传[/case]
                                [case value="8"]选择分类[/case]
                                [case value="9"]日期时间[/case]
                                [case value="10"]单选按钮[/case]
                                [case value="11"]简单编辑器[/case]
                                [default/]<span class="red">错误</span>
                            [/switch]
                            </td>
                        </tr>
                        <tr>
                            <th>字段定义</th>
                            <td>{$data.sql}</td>
                        </tr>
                        <tr>
                            <th>默认值</th>
                            <td>{$data.value}</td>
                        </tr>
                        <tr>
                            <th>参数</th>
                            <td><input type="text" name="att" class="input-text radius le4" id="data-field" value="{$data.att}"><span class="notic">（多选字段类型的定义数据和文本区域，编辑器的尺寸）</span></td>
                        </tr>
                        <tr>
                            <th>验证规则</th>
                            <td><input type="text" name="regular" class="input-text radius le4" id="data-field" value="{$data.regular}"><span class="notic">（填写正则）</span></td>
                        </tr>
                        <tr>
                            <th>备注</th>
                            <td><input type="text" name="note" class="input-text radius le4" id="data-field" value="{$data.note}"><span class="notic">（用于表单中的提示）</span></td>
                        </tr>
                        <tr>
                            <th>是否必填</th>
                            <td>
                                <select name="is_must">
                                    <option value="0" [eq name="data.is_must" value="0"]selected[/eq]>否</option>
                                    <option value="1" [eq name="data.is_must" value="1"]selected[/eq]>是</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="submit_btn">
                <input type="hidden" name="mid" value="{$mid}">
                <input type="hidden" name="id" value="{$data.id}">
                <input class="btn btn-primary le1 radius" type="submit" value="提交">
            </div>
            </form>
        </div>
    </div>
<script type="text/javascript">
$(function(){
    $('#data-type').change(function(){
        $('#data-field').val($(this).find('option:selected').attr('rule'));
    });
})
</script>
[include file="Inc/footer" /]