[include file="Inc/header" /]
[include file="Left/category" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a href="{:U('Category/index')}" class="active"><i class="icon-th-large"></i> 分类列表</a>[eq name='uid' value='1']<a href="{:U('Category/add',array('id'=>0))}"><i class="icon-plus"></i> 添加顶级分类</a>[/eq]</div>
        <div class="content">
            <form id="form1" action="#" method="post" accept-charset="utf-8">
            <div id="tab_form" class="HuiTab">
                <div class="tabBar cl"><span>基础</span><span>扩展</span></div>
                <!-- 基础 -->
                <div class="tabCon">
                    <table class="table table-border table-bordered table-hover radius">
                        <tr>
                            <th width="75px">上级分类</th>
                            <td>
                                [eq name="data.pid" value="0"]顶级分类<input type="hidden" name="pid" value="0">[else/]{:r_category_name($data['pid'])}<input type="hidden" name="pid" value="{$data.pid}">[/eq]
                            </td>
                        </tr>
                        <tr>
                            <th width="75px">所属模型</th>
                            <td>
                                <select name="mid" datatype="*" nullmsg="模型必须选择">
                                    <option value="-1" [eq name="data.mid" value="-1"]selected[/eq]>单页</option>
                                    [volist name="modellist" id="vo"]
                                    <option value="{$vo.id}" [eq name="data.mid" value="$vo.id"]selected[/eq]>{$vo.title}</option>
                                    [/volist]
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th width="65px">分类名称</th>
                            <td><input type="text" name="name" class="input-text radius le4"  datatype="*1-10" nullmsg="分类名称不能为空" errormsg="分类名称10个字以内" value="{$data.name}"><span class="notic">（必填，十个字以内）</span></td>
                        </tr>
                        <tr>
                            <th width="65px">分类标题</th>
                            <td><input type="text" name="title" class="input-text radius le4" value="{$data.title}"><span class="notic">（可选，用于分类页标题设置）</span></td>
                        </tr>
                        <tr>
                            <th width="65px">分类关键词</th>
                            <td><input type="text" name="keywords" class="input-text radius le4" value="{$data.keywords}"><span class="notic">（可选，用于分类页关键词设置）</span></td>
                        </tr>
                        <tr>
                            <th width="65px">分类描述</th>
                            <td><textarea name="description" rows="4" class="textarea radius le4">{$data.description}</textarea><span class="notic">（可选，用于分类页描述设置）</span></td>
                        </tr>
                    </table>
                </div>
                 <!-- 扩展 -->
                <div class="tabCon">
                    <table class="table table-border table-bordered table-hover radius">
                        <tr>
                            <th width="100px">前台分页条数</th>
                            <td><input type="text" name="list_row" class="input-text radius le4" value="{$data.list_row}" datatype="n" errormsg="序号必须为数字" ignore="ignore"></td>
                        </tr>
                        <tr>
                            <th width="100px">链接地址</th>
                            <td><input type="text" name="link" class="input-text radius le4" value="{$data.link}"></td>
                        </tr>
                        [if condition="authcheck('Model/index',$uid)"]
                        <tr>
                            <th width="100px">模板名称</th>
                            <td><input type="text" name="tpl" class="input-text radius le4" value="{$data.tpl}"></td>
                        </tr>
                        [/if]
                        <tr>
                            <th width="100px">分类图片</th>
                            <td>{:form_upload('img',0,$data['img'])}</td>
                        </tr>
                    </table>
                </div>
            </div><input type="hidden" name="id" value="{$data.id}">
            <div class="submit_btn"><input class="btn btn-primary le1 radius" type="submit" value="提交"></div>
            </form>
        </div>
    </div>
[include file="Inc/footer" /]