[include file="Inc/header" /]
[include file="Left/System" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a href="{:U('Dbbak/file')}" class="active"><i class="icon-th-large"></i> 备份列表</a></div>
        <div class="content">
            <table class="table table-border table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th width="500px">备份文件<span style="font-weight: normal;color:#aaa;font-size:12px;">（文件在网站根目录__ROOT__/Common/dbbak下）</span></th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    [volist name="filelist" id="vo"]
                    <tr>
                        <td>{$vo}</td>
                        <td><input id="recdb" onclick="confirm2('{:U('Dbbak/index',array('type'=>2,'name'=>$vo))}','慎重操作，还原后原来数据会覆盖，确定要还原吗？')" class="btn btn-warning radius size-S" type="button" value="还原">　<input onclick="confirm('{:U('Dbbak/file',array('type'=>1,'name'=>$vo))}','确定要删除吗？')" class="btn btn-danger radius size-S" type="button" value="删除"></td>
                    </tr>
                    [/volist]
                </tbody>
            </table>
        </div>
    </div>
<script type="text/javascript">
function confirm2(url,str){
    layer.confirm(str, {icon: 3}, function(index){
        layer.close(index);
        $("#recdb").attr('disabled','disabled');
        layer.msg('还原中，请勿刷新页面！', {icon: 16,time: 900000});
        ajaxjump(url);
    });
}
</script>
[include file="Inc/footer" /]