@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?-68tl04');
	src:url('icomoon.eot?#iefix-68tl04') format('embedded-opentype'),
		url('icomoon.ttf?-68tl04') format('truetype'),
		url('icomoon.woff?-68tl04') format('woff'),
		url('icomoon.svg?-68tl04#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home4:before {
	content: "\e900";
}
.icon-home2:before {
	content: "\e901";
}
.icon-newspaper:before {
	content: "\e904";
}
.icon-pencil2:before {
	content: "\e905";
}
.icon-image2:before {
	content: "\e90d";
}
.icon-images:before {
	content: "\e90e";
}
.icon-camera2:before {
	content: "\e90f";
}
.icon-headphones2:before {
	content: "\e910";
}
.icon-phone2:before {
	content: "\e942";
}
.icon-phone-hang-up:before {
	content: "\e943";
}
.icon-location2:before {
	content: "\e948";
}
.icon-wrench2:before {
	content: "\e991";
}
.icon-music:before {
	content: "\f001";
}
.icon-search:before {
	content: "\f002";
}
.icon-envelope-o:before {
	content: "\f003";
}
.icon-heart:before {
	content: "\f004";
}
.icon-star:before {
	content: "\f005";
}
.icon-star-o:before {
	content: "\f006";
}
.icon-user:before {
	content: "\f007";
}
.icon-film:before {
	content: "\f008";
}
.icon-th-large:before {
	content: "\f009";
}
.icon-th:before {
	content: "\f00a";
}
.icon-th-list:before {
	content: "\f00b";
}
.icon-check:before {
	content: "\f00c";
}
.icon-close:before {
	content: "\f00d";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-times:before {
	content: "\f00d";
}
.icon-search-plus:before {
	content: "\f00e";
}
.icon-search-minus:before {
	content: "\f010";
}
.icon-power-off:before {
	content: "\f011";
}
.icon-signal:before {
	content: "\f012";
}
.icon-cog:before {
	content: "\f013";
}
.icon-gear:before {
	content: "\f013";
}
.icon-trash-o:before {
	content: "\f014";
}
.icon-home:before {
	content: "\f015";
}
.icon-file-o:before {
	content: "\f016";
}
.icon-clock-o:before {
	content: "\f017";
}
.icon-download:before {
	content: "\f019";
}
.icon-arrow-circle-o-down:before {
	content: "\f01a";
}
.icon-arrow-circle-o-up:before {
	content: "\f01b";
}
.icon-refresh:before {
	content: "\f021";
}
.icon-lock:before {
	content: "\f023";
}
.icon-flag:before {
	content: "\f024";
}
.icon-headphones:before {
	content: "\f025";
}
.icon-volume-up:before {
	content: "\f028";
}
.icon-qrcode:before {
	content: "\f029";
}
.icon-tag:before {
	content: "\f02b";
}
.icon-tags:before {
	content: "\f02c";
}
.icon-book:before {
	content: "\f02d";
}
.icon-bookmark:before {
	content: "\f02e";
}
.icon-camera:before {
	content: "\f030";
}
.icon-image:before {
	content: "\f03e";
}
.icon-photo:before {
	content: "\f03e";
}
.icon-picture-o:before {
	content: "\f03e";
}
.icon-pencil:before {
	content: "\f040";
}
.icon-map-marker:before {
	content: "\f041";
}
.icon-edit:before {
	content: "\f044";
}
.icon-pencil-square-o:before {
	content: "\f044";
}
.icon-check-square-o:before {
	content: "\f046";
}
.icon-arrows:before {
	content: "\f047";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-plus-circle:before {
	content: "\f055";
}
.icon-minus-circle:before {
	content: "\f056";
}
.icon-times-circle:before {
	content: "\f057";
}
.icon-check-circle:before {
	content: "\f058";
}
.icon-question-circle:before {
	content: "\f059";
}
.icon-info-circle:before {
	content: "\f05a";
}
.icon-times-circle-o:before {
	content: "\f05c";
}
.icon-check-circle-o:before {
	content: "\f05d";
}
.icon-ban:before {
	content: "\f05e";
}
.icon-arrow-left:before {
	content: "\f060";
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-arrow-up:before {
	content: "\f062";
}
.icon-arrow-down:before {
	content: "\f063";
}
.icon-mail-forward:before {
	content: "\f064";
}
.icon-share:before {
	content: "\f064";
}
.icon-expand:before {
	content: "\f065";
}
.icon-compress:before {
	content: "\f066";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-asterisk:before {
	content: "\f069";
}
.icon-exclamation-circle:before {
	content: "\f06a";
}
.icon-gift:before {
	content: "\f06b";
}
.icon-leaf:before {
	content: "\f06c";
}
.icon-eye:before {
	content: "\f06e";
}
.icon-eye-slash:before {
	content: "\f070";
}
.icon-exclamation-triangle:before {
	content: "\f071";
}
.icon-warning:before {
	content: "\f071";
}
.icon-calendar:before {
	content: "\f073";
}
.icon-comment:before {
	content: "\f075";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-shopping-cart:before {
	content: "\f07a";
}
.icon-folder:before {
	content: "\f07b";
}
.icon-folder-open:before {
	content: "\f07c";
}
.icon-arrows-v:before {
	content: "\f07d";
}
.icon-arrows-h:before {
	content: "\f07e";
}
.icon-key:before {
	content: "\f084";
}
.icon-cogs:before {
	content: "\f085";
}
.icon-gears:before {
	content: "\f085";
}
.icon-comments:before {
	content: "\f086";
}
.icon-thumbs-o-up:before {
	content: "\f087";
}
.icon-thumbs-o-down:before {
	content: "\f088";
}
.icon-heart-o:before {
	content: "\f08a";
}
.icon-thumb-tack:before {
	content: "\f08d";
}
.icon-bookmark-o:before {
	content: "\f097";
}
.icon-phone-square:before {
	content: "\f098";
}
.icon-unlock:before {
	content: "\f09c";
}
.icon-credit-card:before {
	content: "\f09d";
}
.icon-rss:before {
	content: "\f09e";
}
.icon-arrow-circle-left:before {
	content: "\f0a8";
}
.icon-arrow-circle-right:before {
	content: "\f0a9";
}
.icon-arrow-circle-up:before {
	content: "\f0aa";
}
.icon-arrow-circle-down:before {
	content: "\f0ab";
}
.icon-globe:before {
	content: "\f0ac";
}
.icon-wrench:before {
	content: "\f0ad";
}
.icon-briefcase:before {
	content: "\f0b1";
}
.icon-arrows-alt:before {
	content: "\f0b2";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-users:before {
	content: "\f0c0";
}
.icon-chain:before {
	content: "\f0c1";
}
.icon-link:before {
	content: "\f0c1";
}
.icon-cloud:before {
	content: "\f0c2";
}
.icon-flask:before {
	content: "\f0c3";
}
.icon-bars:before {
	content: "\f0c9";
}
.icon-navicon:before {
	content: "\f0c9";
}
.icon-reorder:before {
	content: "\f0c9";
}
.icon-list-ul:before {
	content: "\f0ca";
}
.icon-table:before {
	content: "\f0ce";
}
.icon-truck:before {
	content: "\f0d1";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-caret-right:before {
	content: "\f0da";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-angle-double-left:before {
	content: "\f100";
}
.icon-angle-double-right:before {
	content: "\f101";
}
.icon-angle-double-up:before {
	content: "\f102";
}
.icon-angle-double-down:before {
	content: "\f103";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-desktop:before {
	content: "\f108";
}
.icon-laptop:before {
	content: "\f109";
}
.icon-mobile:before {
	content: "\f10b";
}
.icon-mobile-phone:before {
	content: "\f10b";
}
.icon-smile-o:before {
	content: "\f118";
}
.icon-frown-o:before {
	content: "\f119";
}
.icon-location-arrow:before {
	content: "\f124";
}
.icon-crop:before {
	content: "\f125";
}
.icon-chain-broken:before {
	content: "\f127";
}
.icon-unlink:before {
	content: "\f127";
}
.icon-puzzle-piece:before {
	content: "\f12e";
}
.icon-fire-extinguisher:before {
	content: "\f134";
}
.icon-unlock-alt:before {
	content: "\f13e";
}
.icon-pencil-square:before {
	content: "\f14b";
}
.icon-cny:before {
	content: "\f157";
}
.icon-jpy:before {
	content: "\f157";
}
.icon-rmb:before {
	content: "\f157";
}
.icon-yen:before {
	content: "\f157";
}
.icon-thumbs-up:before {
	content: "\f164";
}
.icon-thumbs-down:before {
	content: "\f165";
}
.icon-female:before {
	content: "\f182";
}
.icon-male:before {
	content: "\f183";
}
.icon-weibo:before {
	content: "\f18a";
}
.icon-pagelines:before {
	content: "\f18c";
}
.icon-fax:before {
	content: "\f1ac";
}
.icon-building:before {
	content: "\f1ad";
}
.icon-tencent-weibo:before {
	content: "\f1d5";
}
.icon-qq:before {
	content: "\f1d6";
}
.icon-wechat:before {
	content: "\f1d7";
}
.icon-weixin:before {
	content: "\f1d7";
}
.icon-share-alt:before {
	content: "\f1e0";
}
.icon-plug:before {
	content: "\f1e6";
}
.icon-wifi:before {
	content: "\f1eb";
}
.icon-cart-plus:before {
	content: "\f217";
}
.icon-user-plus:before {
	content: "\f234";
}
.icon-user-times:before {
	content: "\f235";
}
