[include file="Inc/header" /]
[include file="Left/system" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a href="{:U('Auth/rule')}" class="active"><i class="icon-th-large"></i> 权限列表</a><a href="{:U('Auth/add_rule')}"><i class="icon-plus"></i> 添加权限</a></div>
        <div class="content">
            <form id="form1" action="#" method="post" accept-charset="utf-8">
            <div id="tab_form" class="HuiTab">
                <div class="tabBar cl"><span>基础</span></div>
                <!-- 基础 -->
                <div class="tabCon">
                    <table class="table table-border table-bordered table-hover radius">
                        <tr>
                            <th width="65px">说明</th>
                            <td><input type="text" name="title" class="input-text radius le4" datatype="*2-15" nullmsg="说明不能为空" errormsg="说明字数超过15" value="{$data.title}"><span class="notic"></span></td>
                        </tr>
                        <tr>
                            <th width="65px">规则标识</th>
                            <td><input type="text" name="name" class="input-text radius le4" datatype="*1-80" nullmsg="规则标识不能为空" errormsg="规则标识字数超过80" value="{$data.name}"></td>
                        </tr>
                        <tr>
                            <th width="65px">附加条件</th>
                            <td><input type="text" name="condition" class="input-text radius le4" datatype="*1-100" errormsg="附加条件数超过100" ignore="ignore" value="{$data.condition}"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <input type="hidden" name="id" value="{$data.id}">
            <div class="submit_btn"><input class="btn btn-primary le1 radius" type="submit" value="提交"></div>
            </form>
        </div>
    </div>
[include file="Inc/footer" /]