[include file="Inc/header" /]
[include file="Left/system" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a href="{:U('Auth/role')}" class="active"><i class="icon-th-large"></i> 角色列表</a><a href="{:U('Auth/add_role')}"><i class="icon-user-plus"></i> 添加角色</a></div>
        <div class="content">
            <table class="table table-border table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th width="200px">角色描述</th>
                        <th class="text-c" width="50px">状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    [volist name="data" id="vo"]
                    [neq name='vo.id' value="1"]
                    <tr>
                        <th>{$vo.title}</th>
                        <td class="text-c">
                            [eq name="vo.status" value="1"]
                            <a onclick="ajaxjump('{:U('Auth/role_status',array('id'=>$vo['id'],'s'=>0))}')" href="javascript:;"><img src="__IMG__/ico_green.png" title="点击禁用"></a>
                            [else/]
                            <a onclick="ajaxjump('{:U('Auth/role_status',array('id'=>$vo['id'],'s'=>1))}')" href="javascript:;"><img src="__IMG__/ico_red.png" title="点击启用"></a>
                            [/eq]
                        </td>
                        <td>
                            <a href="{:U('Auth/mod_role',array('id'=>$vo['id']))}" class="btn btn-success radius size-S">修改</a>　<a onclick="confirm('{:U('Auth/del_role',array('id'=>$vo['id']))}','确定要删除吗？')" class="btn btn-danger radius size-S">删除</a>
                        </td>
                    </tr>
                    [/neq]
                    [/volist]
                </tbody>
            </table>
        </div>
    </div>
[include file="Inc/footer" /]