[include file="Inc/header" /]
[include file="Left/system" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a href="{:U('Auth/rule')}" class="active"><i class="icon-th-large"></i> 权限列表</a><a href="{:U('Auth/add_rule')}"><i class="icon-plus"></i> 添加权限</a></div>
        <div class="content">
            <table class="table table-border table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th width="150px">说明</th>
                        <th width="200px">规则标识</th>
                        <th>附加条件</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    [volist name="data" id="vo"]
                    <tr>
                        <th>{$vo.title}</th>
                        <td>{$vo.name}</td>
                        <td>{$vo.condition}</td>
                        <td>
                            <a href="{:U('Auth/mod_rule',array('id'=>$vo['id']))}" class="btn btn-success radius size-S" type="button">修改</a>　
                            <input onclick="confirm('{:U('Auth/del_rule',array('id'=>$vo['id']))}','确定要删除吗？')" class="btn btn-danger radius size-S" type="button" value="删除">
                        </td>
                    </tr>
                    [/volist]
                </tbody>
            </table>
        </div>
    </div>
[include file="Inc/footer" /]