[include file="Inc/header" /]
[include file="Left/document" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a href="{:U('Block/index')}"><i class="icon-th-large"></i> 碎片列表</a><a class="active" href="{:U('Block/add')}"><i class="icon-plus"></i> 添加碎片</a></div>
        <div class="content">
            <form id="form1" action="#" method="post" accept-charset="utf-8">
            <div id="tab_form" class="HuiTab">
                <div class="tabBar cl"><span>基础</span></div>
                <!-- 基础 -->
                <div class="tabCon">
                    <table class="table table-border table-bordered table-hover radius">
                        <tr>
                            <th width="100px">碎片名称</th>
                            <td><input type="text" name="title" class="input-text radius le4" datatype="*2-20" nullmsg="碎片名称不能为空" errormsg="字数超过20"><span class="notic">（20个字以内）</span></td>
                        </tr>
                        <tr>
                            <th width="65px">碎片标识</th>
                            <td><input type="text" name="mark" class="input-text radius le4" datatype="/^\w{2,32}$/" nullmsg="碎片标识不能为空" errormsg="输入格式不正确"><span class="notic">（2-12个字字母、数字、下划线）</span></td>
                        </tr>
                        <tr>
                            <th width="65px">类型</th>
                            <td>
                                <select name="type" datatype="*" nullmsg="类型必须选择">
                                    <option value="">选择所属类型</option>
                                    <option value="1">文本框</option>
                                    <option value="2">文本编辑器</option>
                                    <option value="3">图片</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th width="65px">文本框尺寸</th>
                            <td>
                                <input type="text" name="size" class="input-text radius le4" datatype="n" nullmsg="尺寸不能为空" errormsg="尺寸必须为数字" value="60">
                                <span class="notic">（尺寸为数字，单位为px）</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="submit_btn">
                <input class="btn btn-primary le1 radius" type="submit" value="提交">
            </div>
            </form>
        </div>
    </div>
[include file="Inc/footer" /]