[include file="Inc/header" /]
[include file="Left/document" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a href="{:U('Block/index')}" class="active"><i class="icon-th-large"></i> 碎片列表</a><a href="{:U('Block/add')}"><i class="icon-plus"></i> 添加碎片</a></div>
        <div class="content">
            <table class="table table-border table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-c" width="20px">ID</th>
                        <th width="100px">标识</th>
                        <th width="300px">名称</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    [volist name="data" id="vo"]
                    <tr>
                        <th class="text-c">{$vo.id}</th>
                        <td>{$vo.mark}</td>
                        <th>{$vo.title}</th>
                        <td>
                            <a href="{:U('Block/mod',array('id'=>$vo['id']))}" class="btn btn-success radius size-S" type="button">修改</a>　
                            <input onclick="confirm('{:U('Block/del',array('id'=>$vo['id']))}','确定要删除吗？')" class="btn btn-danger radius size-S" type="button" value="删除">　
                        </td>
                    </tr>
                    [/volist]
                    <tr>
                        <td colspan="10"><div class="paging">{$paging}</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
[include file="Inc/footer" /]