[include file="Inc/header" /]
[include file="Left/document" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a href="{:U('Block/index')}" class="active"><i class="icon-th-large"></i> 碎片列表</a><a href="{:U('Block/add')}"><i class="icon-plus"></i> 添加碎片</a></div>
        <div class="content">
            <form id="form1" action="#" method="post" accept-charset="utf-8">
            <div id="tab_form" class="HuiTab">
                <div class="tabBar cl"><span>基础</span></div>
                <!-- 基础 -->
                <div class="tabCon">
                    <table class="table table-border table-bordered table-hover radius">
                        <tr>
                            <th width="100px">标识串</th>
                            <td>{$data.mark}</td>
                        </tr>
                        <tr>
                            <th width="100px">碎片名称</th>
                            <td><input type="text" name="title" class="input-text radius le4" datatype="*2-20" nullmsg="碎片名称不能为空" errormsg="字数超过20" value="{$data.title}"><span class="notic">（20个字以内）</span></td>
                        </tr>
                        <tr>
                            <th width="65px">内容</th>
                            <td>
                            [switch name="data.type"]
                                [case value="1"]
                                <textarea class="textarea radius le4" name="content" style="height:{$data.size}px">{$data.content}</textarea>
                                [/case]
                                [case value="2"]
                                {:form_ueditor('content',$data['content'],$data['size'])}
                                [/case]
                                [case value="3"]
                                {:form_upload('content',0,$data['content'])}
                                [/case]
                            [/switch]
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="submit_btn">
                <input type="hidden" name="id" value="{$data.id}">
                <input class="btn btn-primary le1 radius" type="submit" value="提交">
            </div>
            </form>
        </div>
    </div>
[include file="Inc/footer" /]