<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>多文件选择上传</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/fonts/fonts.css">
    <script type="text/javascript">var ROOT = "__ROOT__/";var PUBLIC = "__PUBLIC__/";</script>
    <script type="text/javascript" src="__PUBLIC__/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <script src="__PUBLIC__/uploadify/uploadify.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/uploadify/uploadify.css" />
    <style>
        .up_form{padding:5px 10px;background-color: #dde4e6;height:30px;overflow: hidden;clear: both;}
        .img_box{padding:5px 0 5px 3px;width: 676px;height: 336px;overflow: hidden;clear: both;border-bottom: 1px solid #ccc;}
        .img_box .img_list{width: 100px;height: 100px;line-height: 100px;text-align: center;border:1px solid #ccc;float: left;margin:5px;float: left;overflow: hidden;position: relative;}
        .img_box .img_list img{max-width: 100px;max-height: 100px;cursor: pointer;}
        .img_box .img_list .tit{width: 100px;height: 20px;font-size: 12px;background-color:#000;opacity: 0.6;text-align: center;position: absolute;left: 0;bottom:0;color:#fff;line-height: 20px;}
        .img_box .img_list span{width:100%;height:100%;background: url(__PUBLIC__/admin/choseed.png) right bottom no-repeat;position: absolute;display: block;top: 0;left: 0;cursor: pointer;}
        .paging{width:670px;height: 35px;margin-left:10px;text-align: right;clear: both;line-height:35px;}
        .paging a,.paging span{padding:2px 8px;margin-right: 5px;background-color:#1DCCAA;color:#fff;border-radius:3px;}
        .paging .current{background-color:#999;color:#fff;}
    </style>
</head>
<body>
	<div class="up_form">
        <form>
        <input id="file_upload" name="file_upload" type="file" multiple="true">
        </form>
    </div>
    <div class="img_box">
        [volist name="list" id="vo"]
        <div class="img_list" id="imgid_{$vo.id}">
            <img onclick="chose('{$vo.name}',{$vo.id})" src="__ROOT__/Uploads/th_{$vo.name}"><div class="tit">{$vo.title|cut=8}</div>
        </div>
        [/volist]
    </div>
    <div class="paging">{$paging}</div>
<script type="text/javascript">
//上传配置
$(function() {
    $('#file_upload').uploadify({
        'formData': {
            'session': '[php] echo session_id();[/php]',
            'att':'{$img_size}'
        },
        'swf'      : '__PUBLIC__/uploadify/uploadify.swf',
        'uploader' : '{:U('Uploads/index')}',
        'fileSizeLimit' : "1MB",
        'fileTypeExts' : "*.gif; *.jpg; *.png",
        'onUploadSuccess' : function(file, data, response) {
            var obj = jQuery.parseJSON(data);                   
            var dataObj=eval(obj); 
            if (dataObj.error) {
                alert(dataObj.message);
            }
        },
        'onQueueComplete' : function(queueData) {
            self.location.reload();
        }
    });
});

function chose(src,id){
    if ( parent.$("#upsbox_{$name} #imgid_"+id).length > 0 ) {
        layer.msg('该图片已存在，请勿重复选择');
        $('#imgid_'+id).append("<span onclick='cancel("+id+")'></span>");//当前页
    }else{
        $('#imgid_'+id).append("<span onclick='cancel("+id+")'></span>");
        parent.$('#upsbox_{$name} .preview').append("<div class='imgli' id='imgid_"+id+"'><img alt='"+id+"' src='"+ROOT+"Uploads/th_"+src+"'><span onclick=\"del_moreupimg('{$name}',"+id+")\">删除</span></div>");
        var ImgIds1="";
        parent.$("#upsbox_{$name} .preview img").each(function(){
            ImgIds1 += $(this).attr("alt")+",";
        });
        parent.$("#upsbox_{$name} input").val(ImgIds1);
        ImgIds1 = null;
    };
}
function cancel(id){
    $('#imgid_'+id+' span').remove();
    parent.$('#upsbox_{$name} #imgid_'+id).remove();
    var ImgIds2="";
    parent.$("#upsbox_{$name} .preview img").each(function(){
        ImgIds2 += $(this).attr("alt")+",";
    });
    parent.$("#upsbox_{$name} input").val(ImgIds2);
    ImgIds2 = null;
}
</script>
</body>
</html>
