<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="renderer" content="webkit">
    <meta charset="utf-8" />
    <title>{:C('COPYRIGHT')}内容管理系统</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/fonts/fonts.css">
    <script type="text/javascript">var ROOT = "__ROOT__/";var PUBLIC = "__PUBLIC__/";</script>
    <script type="text/javascript" src="__PUBLIC__/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/extend/layer.ext.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Validform/Validform.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Validform/Validform.css">
    <script type="text/javascript" src="__PUBLIC__/admin/comm.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/style.css">
    [literal]
    <!--[if lt IE 9]>
      <script src="__PUBLIC__/admin/html5shiv.min.js"></script>
    <![endif]-->
    [/literal]
</head>
<body>
    <!-- topnav -->
    <div id="bdtopnav">
        <a href="{:U('Index/index')}"><div class="logo">　</div></a>
        <div class="topmenu">
            <a href="{:U('Index/index')}" [in name="Think.CONTROLLER_NAME" value="Index"]class="active"[/in]><i class="icon-home"></i> 首页</a>
            [if condition="authcheck('Category/index',$uid)"]<a href="{:U('Category/index')}" [in name="Think.CONTROLLER_NAME" value="Category"]class="active"[/in]>分类</a>[/if]
            [if condition="authcheck('Document/index',$uid)"]<a href="{:U('Document/index',array('mid'=>2))}" [in name="Think.CONTROLLER_NAME" value="Document,Onepage,Block"]class="active"[/in]>内容</a>[/if]
            [if condition="authcheck('Bussiness/index',$uid)"]<a href="{:U('Bussiness/index',array('mid'=>5))}" [in name="Think.CONTROLLER_NAME" value="Bussiness,Onepage,Block"]class="active"[/in]>商家</a>[/if]
            [if condition="authcheck('Member/index',$uid)"]<a href="{:U('Member/index')}" [in name="Think.CONTROLLER_NAME" value="Member,Log"]class="active"[/in]>会员</a>[/if]
            [if condition="authcheck('Order/index',$uid)"]<a href="{:U('Order/index')}" [in name="Think.CONTROLLER_NAME" value="Order"]class="active"[/in]>订单</a>[/if]
            [if condition="authcheck('Model/index',$uid)"]<a href="{:U('Model/index')}" [in name="Think.CONTROLLER_NAME" value="Model,Field"]class="active"[/in]>模型</a>[/if]
            <a href="{:U('System/setting')}" [in name="Think.CONTROLLER_NAME" value="System,Admin,Dbbak,Auth"]class="active"[/in]>系统</a>
            <span class="welcome">
                <i style="font-size:14px;" class="icon-user"></i> 欢迎{:session('uname')} <i class="icon-caret-down"></i>
                <div class="son_nav">
                    <a target="_blank" href="__ROOT__/"><i class="icon-home"></i> 前台首页</a>
                    <a href="{:U('Admin/modpass')}"><i class="icon-key"></i> 修改密码</a>
                    <a href="{:U('Admin/modinfo')}"><i class="icon-newspaper"></i> 个人资料</a>
                    <a onclick="ajaxjump('{:U('Index/ClearCache')}')" href="javascript:;"><i class="icon-trash-o"></i> 清理缓存</a>
                    <a onclick="ajaxjump('{:U('Login/logout')}')" href="javascript:;"><i class="icon-power-off"></i> 退出系统</a>
                </div>
            </span>
        </div>
    </div><!-- /topnav -->