[include file="Inc/header" /]
[include file="Left/document" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a href="{:U('Document/index',array('mid'=>$mdata['id']))}" class="active"><i class="icon-th-large"></i> {:r_model_name($mdata['id'])}列表</a><a href="{:U('Document/add',array('mid'=>$mdata['id']))}"><i class="icon-plus"></i> 添加{:r_model_name($mdata['id'])}</a></div>
        <div class="content">
            <form id="form1" action="#" method="post" accept-charset="utf-8">
            <div id="tab_form" class="HuiTab">
                <div class="tabBar cl"><span>添加{:r_model_name($mdata['id'])}</span></div>
                <!-- 基础 -->
                <div class="tabCon">
                    <table class="table table-border table-bordered table-hover radius">
                        [volist name="fdata" id="vo"]
                            [switch name="vo.type"]
                                [case value="1"]
                                <tr>
                                    <th width="80px">{$vo.title}</th>
                                    <td>
                                        <input type="text" name="{$vo.name}" class="input-text radius le4" [empty name="vo.regular"]datatype="n"[else/]datatype="{$vo.regular}"[/empty] [eq name="vo.is_must" value="1"]nullmsg="{$vo.title}必须填写"[else/]ignore="ignore"[/eq] errormsg="{$vo.note}" value="{$vo.f_data}"><span class="notic"> {$vo.note}</span>
                                    </td>
                                </tr>
                                [/case]
                                [case value="2"]
                                <tr>
                                    <th width="80px">{$vo.title}</th>
                                    <td>
                                        <input type="text" name="{$vo.name}" class="input-text radius le4" [empty name="vo.regular"]datatype="*"[else/]datatype="{$vo.regular}"[/empty] [eq name="vo.is_must" value="1"]nullmsg="{$vo.title}必须填写"[else/]ignore="ignore"[/eq] errormsg="{$vo.note}" value="{$vo.f_data}"><span class="notic"> {$vo.note}</span>
                                    </td>
                                </tr>
                                [/case]
                                [case value="3"]
                                <tr>
                                    <th width="80px">{$vo.title}</th>
                                    <td>
                                        <textarea [empty name="vo.att"]style="height:90px;"[else/]style="height:{$vo.att}px;"[/empty] name="{$vo.name}" class="textarea radius le4" [empty name="vo.regular"]datatype="*"[else/]datatype="{$vo.regular}"[/empty] [eq name="vo.is_must" value="1"]nullmsg="{$vo.title}必须填写"[else/]ignore="ignore"[/eq] errormsg="{$vo.note}">{$vo.f_data}</textarea><span class="notic"> {$vo.note}</span>
                                    </td>
                                </tr>
                                [/case]
                                [case value="4"]
                                <tr>
                                    <th width="80px">{$vo.title}</th>
                                    <td>
                                        {:form_select($vo['name'],$vo['f_data'],$vo['att'],$vo['title'],$vo['is_must'])}<span class="notic"> {$vo.note}</span>
                                    </td>
                                </tr>
                                [/case]
                                [case value="5"]
                                <tr>
                                    <th width="80px">{$vo.title}</th>
                                    <td>
                                        {:form_ueditor($vo['name'],$vo['f_data'],$vo['att'])}
                                    </td>
                                </tr>
                                [/case]
                                [case value="6"]
                                <tr>
                                    <th width="80px">{$vo.title}</th>
                                    <td>
                                        {:form_upload($vo['name'],$vo['att'],$vo['f_data'])}<span class="notic"> {$vo.note}</span>
                                    </td>
                                </tr>
                                [/case]
                                [case value="7"]
                                <tr>
                                    <th width="80px">{$vo.title}</th>
                                    <td>
                                        {:form_uploads($vo['name'],$vo['att'],$vo['f_data'])}<span class="notic"> {$vo.note}</span>
                                    </td>
                                </tr>
                                [/case]
                                [case value="8"]
                                <tr>
                                    <th width="80px">{$vo.title}</th>
                                    <td>{:form_category($vo['name'],$vo['att'],$vo['f_data'])}<span class="notic"> {$vo.note}</span></td>
                                </tr>
                                [/case]
                                [case value="9"]
                                <tr>
                                    <th width="80px">{$vo.title}</th>
                                    <td>
                                        {:form_date($vo['name'],$vo['title'],$vo['is_must'],$vo['f_data'])}<span class="notic"> {$vo.note}</span>
                                    </td>
                                </tr>
                                [/case]
                                [case value="10"]
                                <tr>
                                    <th width="80px">{$vo.title}</th>
                                    <td>
                                        {:form_radio($vo['name'],$vo['f_data'],$vo['att'],$vo['title'],$vo['is_must'])}<span class="notic"> {$vo.note}</span>
                                    </td>
                                </tr>
                                [/case]
                                [case value="11"]
                                <tr>
                                    <th width="80px">{$vo.title}</th>
                                    <td>
                                        {:form_ueditor2($vo['name'],$vo['f_data'],$vo['att'])}
                                    </td>
                                </tr>
                                [/case]
                            [/switch]
                        [/volist]
                    </table>
                </div>
            </div>
            <div class="submit_btn"><input type="hidden" name="id" value="{$data.id}"><input class="btn btn-primary le1 radius" type="submit" value="提交"></div>
            </form>
        </div>
    </div>
[include file="Inc/footer" /]