[include file="Inc/header" /]
[include file="Left/member" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a href="{:U('Member/index')}" class="active"><i class="icon-th-large"></i> 会员列表</a><a href="{:U('Member/add')}"><i class="icon-plus"></i> 添加会员</a><a href="{:U('Member/import')}"><i class="icon-arrow-circle-o-up"></i> 导入会员</a><a href="{:U('Member/import2')}"><i class="icon-arrow-circle-o-up"></i> 导入积分</a></div>
        <div class="content">
            <div class="search">
                <i class="icon-search"></i>
                <form action="{:U('Member/search')}" method="post" accept-charset="utf-8">
                <input type="text" placeholder=" 输入用户名或姓名搜索" name="keyword" class="input-text radius le4">
                <input class="btn btn-primary le1 radius" type="submit" value="搜索">
                </form>
            </div>
            <table class="table table-border table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>用户名</th>
                        <th>积分</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>手机号</th>
                        <!--<th>等级</th>-->
                        <th class="text-c">状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    [volist name="data" id="vo"]
                    <tr>
                        <th>{$vo.username}</th>
                        <td><strong>{$vo.score}</strong></td>
                        <td>{$vo.name}</td>
                        <td>{$vo.sex}</td>
                        <td>{$vo.age}</td>
                        <th>{$vo.phone}</th>
                        <!--<th>-->
                            <!--[switch name="vo.level"][case value="1"]普通[/case][case value="2"]银牌[/case][case value="3"]金牌[/case][/switch]-->
                        <!--</th>-->
                        <td class="text-c">
                            [eq name="vo.status" value="1"]
                            <a onclick="ajaxjump('{:U('Member/isno_status',array('id'=>$vo['id'],'s'=>0))}')" href="javascript:;"><img src="__IMG__/ico_green.png" title="点击禁用"></a>
                            [else/]
                            <a onclick="ajaxjump('{:U('Member/isno_status',array('id'=>$vo['id'],'s'=>1))}')" href="javascript:;"><img src="__IMG__/ico_red.png" title="点击启用"></a>
                            [/eq]
                        </td>
                        <td>
                        	<a href="{:U('Member/info',array('id'=>$vo['id']))}" class="btn btn-secondary radius size-S">查看详细</a>
                            <a href="{:U('Log/score_make',array('id'=>$vo['id']))}" class="btn btn-primary radius size-S">增减积分</a>
                            <a href="{:U('Log/score_log',array('id'=>$vo['id']))}" class="btn btn-success radius size-S">积分日志</a>
                        	<a href="{:U('Member/mod',array('id'=>$vo['id']))}" class="btn btn-warning radius size-S" value="修改">修改</a>
                            <a onclick="confirm('{:U('Member/del',array('id'=>$vo['id']))}','确定要删除吗？')" class="btn btn-danger radius size-S" value="删除">删除</a>
                        </td>
                    </tr>
                    [/volist]
                    <tr>
                        <td colspan="10"><div class="paging">{$paging}</div></td>
                    </tr>
                    <tr>
                        <td colspan="20" class="text-r">
                            <form action="{:U('Member/export')}" accept-charset="utf-8" method="get">
                                <input type="submit" class="btn btn-danger radius size-S" value="导出会员">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
[include file="Inc/footer" /]