[include file="Inc/header" /]
[include file="Left/recharge" /]
    <!-- bdright -->
    <div id="bdright">
         <div class="site"><a class="active" href="{:U('Trade/index')}"><i class="icon-th-large"></i> 进退货列表</a></div>
        <div class="content">
            <div class="search">
                <i class="icon-search"></i>
                <form action="{:U('Recharge/search')}" method="post" accept-charset="utf-8">
                <input type="text" placeholder=" 输入产品名称搜索" name="keyword" class="input-text radius le4">
                <input class="btn btn-primary le1 radius" type="submit" value="搜索">
                </form>
            </div>
            <table class="table table-border table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>用户名</th>
                        <th>充积分值</th>
                        <th>备注</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    [volist name="data" id="vo"]
                    <tr>
                        <th><a title="点击查看用户信息" href="{:U('Member/info',array('id'=>$vo['mbid']))}">{:r_mb_name($vo['mbid'])}({:r_mb_phone($vo['mbid'])})</a></th>
                        <td>{$vo.score}</td>
                        <th>{$vo.note}</th>
                        <th>{$vo.time|date="Y-m-d h:i:sa",###}</th>
                        <td>　
                        	<input onclick="confirm('{:U('Recharge/del',array('id'=>$vo['id']))}','确定要删除吗？')" class="btn btn-danger radius size-S" type="button" value="删除"></td>
                    </tr>
                    [/volist]
                    <tr>
                        <td colspan="10"><div class="paging">{$paging}</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
[include file="Inc/footer" /]