[include file="Inc/header" /]
[include file="Left/document" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a href="{:U('Onepage/index')}" class="active"><i class="icon-th-large"></i> 单页列表</a><a href="{:U('Onepage/add')}"><i class="icon-plus"></i> 添加单页</a></div>
        <div class="content">
            <table class="table table-border table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-c" width="20px">ID</th>
                        <th  width="150px">所属分类</th>
                        <th>标题</th>
                        <th class="text-c" width="50px">排序</th>
                        <th width="300px">操作</th>
                    </tr>
                </thead>
                <tbody>
                    [volist name="data" id="vo"]
                    <tr>
                        <td class="text-c">{$vo.id}</td>
                        <td>{:r_category_name($vo['cid'])}</td>
                        <td>{$vo.title}</td>
                        <td class="text-c sort_btn">
                            <a onclick="ajaxjump('{:U('Onepage/sort',array('id'=>$vo['id'],'s'=>0))}')" href="javascript:;"><i class="icon-arrow-circle-up sort_btn"></i></a> 
                            <a onclick="ajaxjump('{:U('Onepage/sort',array('id'=>$vo['id'],'s'=>1))}')" href="javascript:;"><i class="icon-arrow-circle-down sort_btn"></i></a>
                        </td>
                        <td>
                            <a href="{:U('Onepage/mod',array('id'=>$vo['id']))}" class="btn btn-success radius size-S" type="button">修改</a>　
                            <input onclick="confirm('{:U('Onepage/del',array('id'=>$vo['id']))}','确定要删除吗？')" class="btn btn-danger radius size-S" type="button" value="删除">
                        </td>
                    </tr>
                    [/volist]
                </tbody>
            </table>
        </div>
    </div>
[include file="Inc/footer" /]