[include file="Inc/header" /]
[include file="Left/document" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a href="{:U('Onepage/index')}" class="active"><i class="icon-th-large"></i> 单页列表</a><a href="{:U('Onepage/add')}"><i class="icon-plus"></i> 添加单页</a></div>
        <div class="content">
            <form id="form1" action="#" method="post" accept-charset="utf-8">
            <div id="tab_form" class="HuiTab">
                <div class="tabBar cl"><span>基础</span><span>扩展</span></div>
                <!-- 基础 -->
                <div class="tabCon">
                    <table class="table table-border table-bordered table-hover radius">
                        <tr>
                            <th width="75px">所属分类</th>
                            <td>
                                {:r_category_name($data['cid'])}
                            </td>
                        </tr>
                        <tr>
                            <th width="65px">页面标题</th>
                            <td><input type="text" name="title" class="input-text radius le4" value="{$data.title}"><span class="notic">（可选，用于SEO页面标题设置）</span></td>
                        </tr>
                        <tr>
                            <th width="65px">页面内容</th>
                            <td>
                                {:form_ueditor(content,$data['content'])}
                            </td>
                        </tr>
                    </table>
                </div>
                 <!-- 扩展 -->
                <div class="tabCon">
                    <table class="table table-border table-bordered table-hover radius">
                        <tr>
                            <th width="100px">页面关键词</th>
                            <td><input type="text" name="keywords" class="input-text radius le4" value="{$data.keywords}"><span class="notic">（可选，用于SEO页面关键词设置）</span></td>
                        </tr>
                        <tr>
                            <th>页面描述</th>
                            <td><textarea name="description" rows="4" class="textarea radius le4">{$data.description}</textarea><span class="notic">（可选，用于SEO页面描述设置）</span></td>
                        </tr>
                    </table>
                </div>
            </div><input type="hidden" name="id" value="{$data.id}">
            <div class="submit_btn"><input class="btn btn-primary le1 radius" type="submit" value="提交"></div>
            </form>
        </div>
    </div>
[include file="Inc/footer" /]