[include file="Inc/header" /]
[include file="Left/system" /]
    <!-- bdright -->
    <div id="bdright">
        <div class="site"><a class="active"><i class="icon-th-large"></i> 前台设置</a></div>
        <div class="content">
            <form id="form1" action="#" method="post" accept-charset="utf-8">
            <div id="tab_form" class="HuiTab">
                <div class="tabBar cl"><span>基础</span><span>扩展</span></div>
                <!-- 基础 -->
                <div class="tabCon">
                    <input type="hidden" name="id" value="1">
                    <table class="table table-border table-bordered table-hover radius">
                        <tr>
                            <th width="75px">前台标题</th>
                            <td><input type="text" name="title" class="input-text radius le4" value="{$data.title}"><span class="notic">（SEO重要参数，显示在浏览器页面选项卡上）</span></td>
                        </tr>
                        <tr>
                            <th width="65px">前台关键词</th>
                            <td><input type="text" name="keywords" class="input-text radius le4" value="{$data.keywords}"><span class="notic">（SEO优化重要参数，用几个词语来形容网站）</span></td>
                        </tr>
                        <tr>
                            <th width="65px">网站描述</th>
                            <td><textarea name="description" rows="4" class="textarea radius le4">{$data.description}</textarea><span class="notic">（SEO重要参数，简单描述网站的主题）</span></td>
                        </tr>
                    </table>
                </div>
                 <!-- 扩展 -->
                <div class="tabCon">
                    <table class="table table-border table-bordered table-hover radius">
                        <tr>
                            <th width="100px">签到开关</th>
                            <td>
                                <label><input name="signed_onoff" type="radio" value="1" [eq name="data.signed_onoff" value="1"]checked[/eq]/>开启 </label>
                                <label><input name="signed_onoff" type="radio" value="0"  [eq name="data.signed_onoff" value="0"]checked[/eq]/>关闭 </label>
                            </td>
                        </tr>
                        <tr>
                            <th width="100px">连续签到天数</th>
                            <td><input type="number" name="signed" class="input-text radius le4" value="{$data.signed}"  datatype="n1-30" nullmsg="签到天数" errormsg="签到天数在1~10天之间"><span class="notic">（隔一天以上签到，将从新计算）</span></td>
                        </tr>
                        <tr>
                            <th width="100px">签到合格奖励积分</th>
                            <td><input type="number" name="signed_score" class="input-text radius le4" value="{$data.signed_score}"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="submit_btn"><input class="btn btn-primary le1 radius" type="submit" value="提交"></div>
            </form>
        </div>
    </div>
[include file="Inc/footer" /]